@import url("../../variables.css");

.chatsList {
  padding-top: 1.5rem;
  background-color: var(--bg-color);
  height: 100%;
  display: grid;
  grid-template-rows: 3.6rem 1fr;
  row-gap: 2rem;
  overflow: hidden;
}

.header {
  padding: 0 2rem;
}

.searchLabel {
  display: grid;
  grid-template-columns: 1fr 24fr;
  column-gap: 1.6rem;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 1.2rem;
  padding: 1rem;
}

.searchIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.searchInput {
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  outline: none;
}

.chats {
  height: 100%;
  overflow-y: auto;
}
