@import url("./variables.css");

:root {
  --top-down-height: 6rem;
  --scroll-background: transparent;
  --scroll-color: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.4rem;
  background-color: var(--gap-color);
}

button,
input {
  font-family: sans-serif;
}

div,
header {
  border-radius: 1.2rem;
}
