@import url("../../variables.css");

.enviroment {
  height: 100vh;
  background-color: var(--secondary-color);
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.big {
  font-size: 20rem;
}

.small {
  font-size: 4rem;
}
